# ignore python cache files in every directory
__pycache__/
*.pyc
*.pyo
# ignore virtual environment folders
venv/
env/
# ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# ignore log files
*.log
logs/
#ignore unsloth cache files
unsloth_compiled_cache/
# ignore cluster scripts
*.sh
#ignore prompts
prompts/
#ignore data folders
out/
#ignores figures
figures/
#ignore file with cli command
cli_commands.txt
# ignore debug of prefix tree code
debug_prefix_tree.py
multi_cue_judgment/data/in/combined_df.csv
multi_cue_judgment/count_unique_answers.py
#ignore claude.md
CLAUDE.md
#ignore summary files
horizon/data/out/predictive/llama-70B-adapter/singles/all_models_summary.csv
rl/data/out/predictive/centaur-70B-adapter/singles/all_models_summary.csv
# ignore 
horizon/data/out
rl/data/out